body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.pinimg.com/564x/33/ac/6a/33ac6af8e90054568ab47ad0ef2d02a2.jpg);
    background-size: cover;
    width: 100%;
}

#imagen{
    width: 400px;
}

#pokeContainer{
    width: 500px;
    height: 200px;
    gap: 30px;
}

#card{
    background-color: rgba(255, 219, 166, 0.635);
    border-radius: 20px;
}

button{
    width: 100px;
    height: 100px;
    margin: 30px;
}

#title, #type, #heightTitle, #heightText, #weightTitle, #weightText{
    text-transform: capitalize;
    font-family: 'Segoe UI';
    text-align: center;
}

#evolve, #devolve{
    font-family: 'Segoe UI';
    border: none;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

#evolve{
    background-color: rgb(118, 227, 158);
    transition: background-color 0.2s
}

#evolve:hover{
    background-color: rgb(42, 204, 102);
}

#devolve{
    background-color: rgb(232, 117, 117);
    transition: background-color 0.2s
}

#devolve:hover{
    background-color: rgb(209, 64, 64);
}


